<div class="row" style="display: flex;align-items: center; justify-content: center; flex-direction: column">
  <mat-selection-list style="width: 600px" (selectionChange)="onChangeSelection($event)">
    <mat-list-option [value]="item.id" *ngFor="let item of todos" [(selected)]="item.finished">
      {{ item.description }}
      <i (click)="delete($event, item.id)" class="fas fa-trash-alt" style="position: absolute; right: 50px;top: 50%;transform: translateY(-50%);"></i>
    </mat-list-option>
  </mat-selection-list>
  <mat-form-field>
    <input [(ngModel)]="desc" matInput placeholder="Please input your target" >
  </mat-form-field>
  <button color="primary" (click)="add()" mat-button>Add</button>
</div>
